@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;1,200&display=swap');

html, body{
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  height: 100%;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #1b2838;
  font-family: 'Noto Sans', sans-serif;
  flex: 1;
}

.divider{
  display: flex;
  flex-direction: column;
  flex: 1;
}

a:link {
  color: white;
}

a:visited {
  color: antiquewhite;
}

footer {
  background-color: #171a21;
  text-align: center;
  margin: 0px;
  margin-top: auto;
  padding: 80px;
}

.example-img {
  width: 300px;
  display: inline-block;
}

.immagini-galleria {
  position: relative;
  height: 100px;
  width: 200px;
  margin: auto;
  display: inline;

}